<h1><%= t('editing', name: t('shopping_list', count: 1)) %></h1>

<%= render 'form' %>

<%= link_to t('show'), @shopping_list, class: 'btn btn-info', role: :button %>
<%= link_to t('index'), shopping_lists_path, class: 'btn btn-outline-secondary', role: :button %>
